@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>Details about: @Html.DisplayFor(model => model.Name)</h2>

<hr/>

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>

<h4>Flavor Profiles for:</h4>
<ul>
  @if(@Model.JoinEntities.Count == 0)
  {
    <li>This Treat has no flavor profile</li>
    <button>@Html.ActionLink("Add flavor to treat", "AddFlavor", new { id = Model.TreatId })</button>
  }
  else
  {
    @foreach(var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{join.Flavor.Name}", "Details", "Flavors", new {id = join.Flavor.FlavorId})</li>
      @using(Html.BeginForm())
      {
        @Html.Hidden("joinId", @join.Flavor_TreatId)
        <input type="submit" value="delete flavor"/>
      }
    }
    <button>@Html.ActionLink("Add flavor to treat", "AddFlavor", new { id = Model.TreatId })</button>
  }
</ul>

<button>@Html.ActionLink("Edit Treat", "Edit", new {id = Model.TreatId})</button>
<button>@Html.ActionLink("Home", "Index", "Home")</button>
<button>@Html.ActionLink("Treats", "Index")</button>
<button>@Html.ActionLink("Flavors", "Index", "Flavors")</button>
<button>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId})</button>