@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<div class="container">
  <h4>Edit Treat:</h4>
  <p>Edit your treat below!</p>

  <br>

  @using(Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    <input type="submit" value="Save"/>
  }

  <button>@Html.ActionLink("Home", "Index", "Home")</button>
  <button>@Html.ActionLink("Treats", "Index")</button>
  <button>@Html.ActionLink("Flavors", "Index", "Flavors")</button>
</div>


